
.title{
	color: green;
	text-align: center;
}
.desc{
	color: #ababab;
	margin-left: 10px;
}

p{
	text-indent: 2em;
}

.nav{
	list-style: none;
	background-color: #333333;
	height: 40px;
	font-size: 20px;
	padding-top: 20px;	
}

.nav li a{
	text-decoration: none;
	color: green;
}

.nav li{
	display: inline-block;
}

#content{
	padding: 0px 50px;
	font-weight: bold;
}

#content h3{
	border-bottom: 1px dashed #e1e1e1;
}

.tree a{
	color: green;
	text-decoration: none;
}

.has-child ul li{
	list-style: none;
	color: #818181;
}

 .tree>li:before {
      content: "+ ";
  }
    
  .tree .open:before {
      content: "- ";
  }
  .tree>li{
  	list-style: none;
  }
