@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-07 10:54:47
 * @version $Id$
 */
html,body,ul,li,dl,dt,dd,div,p,h1,h3{
		padding: 0;
		margin: 0;
		font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #333;
	}
	a{
		text-decoration: none;
	}
	li{
		list-style-type: none;
	}

	#container{
		width: 720px;
		margin: 0 auto;
		text-align: center;
		/*position: relative;*/
	}
	#container h3{
		margin-top: 135px;
		font-size: 42px;
		letter-spacing: 1px;
	}
	#container p{
		color: #333;
		font-size: 15px;
		line-height: 1.7em;
		letter-spacing: 0px;
		word-spacing: 1px;
	}
	#container p:nth-child(3){
		color: #777777;
		font-style: italic;
		font-size: 17px;
		margin-top: 22px;
		margin-bottom: 33px;
	}
	#container img{
		width: 720px;
		margin-bottom: 20px;
	}
	#container p.strong{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#container p.strong span{
		font-weight: bold;
	}
	#container p.strong a{
		color: #FED336;
	}
	#container p.mess span{
		padding-right: 10px;
		font-size: 14px;
		word-spacing: -2px;

	}
	#container a.button{
		display: inline-block;
		margin-top: 35px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0px 13px;
		background-color: #FED136;
		height:35px;
		line-height: 35px;
		margin-bottom: 115px;
		font-size: 14px;
		color: #fff;
		border-radius: 4px;
	}
	#container a.button:hover{
		background-color: #FEC503;
	}
	#container a.button span{
		padding-right: 3px;
	}

	#container a.close{
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
		font-weight: normal;
		color: #3C3C3C;
		font-size: 40px;
		height: 60px;
		width: 60px;
		line-height: 60px;
		padding: 0;
		margin-top: 20px;
		margin-right: 20px;
	}
	#container a.close:hover{
		/*background-color: #3C3C3C;*/
		color: #C4C4C4;
	}