body,html{
  width: 100%ï¼›
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}
li{
  list-style:none;
}
a {
  text-decoration: none;
}
.fa-sort-desc{
  color:Grey;
}
.fa-shopping-cart,.fa-globe,.fa-star{
  color:black;
}

#nvbar{
  height:50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: 1px #ccc solid;
  background-color:white;
}
.list{
  padding-left:70px;
}
.list li{
  display:inline-block;
  color:Grey;
  padding-right:25px;
  padding-bottom:10px;
}
.list a{
  color:Grey;
}
.mywork{
  position:relative;
  margin:0;
}
.inner{
  position:absolute;
  display:none;
  width:120px;
  top:100%;
  background-color:white;
  border:1px solid LightGrey;
  border-radius:5px;
  margin:0;
  padding:0;
}
.inner li{
  display:inline-block;
  padding:5px;
  padding-left:10px;
  padding-right:42px;
  margin:0;
}
.mywork:hover .inner{
  display:block;
}
.list a:hover{
  color:black;
}
.inner li:hover{
  background-color:Lightgrey;
}
.lastone{
  position:relative;
  left:25px;
  padding-right:32px;
}
hr{
  margin:0;
  border-top:LightGrey;
}

#header{
  height:250px;
  background-color:#B22222;
  margin:0 auto;
  padding:40px;
}
#header p{
  padding-left:65px;
  font-size:20px;
  color:white;
  padding-top:60px;
}
.bold{
  font-size:45px;
}

#container {
  width: 1000px;
}

#nvbar2 {
  margin-top:30px;
  width: 1000px;
  height: 40px;
  background-color: Lightgrey;
  padding-left: 15px;
  line-height: 40px;
  margin-bottom: 30px;
  padding-left: 150px;
}
.link {
  color: red;
}
.link:hover {
  color: black;
  border-bottom: 1px solid;
}

#works {
  width: 1000px;
}
#works p{
  font-size:13px;
}
.a1:hover {
  opacity: 0.5;
}
.row1,.row2,.row3 {
  display: inline-block;
  width: 100%;
  height: 400px;
  padding: 0;
  margin-left:155px;
  margin-bottom:-18px;
  position:relative;
}
.pic2,.pic5,.pic8{
  position:absolute;
  top:0;
  left:345px;
}
.pic3,.pic6,.pic9{
  position:absolute;
  top:0;
  left:690px;
}
.pic10{
margin-bottom:40px;
position:relative;
left:155px;
top:0;
}
.pic1,.pic2,.pic3,.pic4,.pic5,.pic6,.pic7,.pic8,.pic9,.pic10 {
  width: 30%;
  height: 340px;
  padding:5px;
  border: 1px solid Lightgrey;
}
.content{
  display: block;
  text-align:center;
}
.content p{
  margin-bottom:25px;
}
.check{
  padding:7px;
  color: black;
  border: 1px solid Lightgrey;
  border-radius: 5px;
}
.check:hover{
  background-color:Lightgrey;
}

#footer{
  background-color:#B22222;
  height:200px;
  padding-top:60px;
}
#footer p{
color:white;
text-align:center;
}
.bigger{
  font-size:35px;
}

#last {
 display:block;
 text-align:center;
 height:150px;
 margin-top:60px;
 padding-top:30px;
}
#last a{
  color:red;
}
#last hr{
  border-top:1px solid LightGrey;

}
#last a:hover{
color:black;
border-bottom:1px solid;
}