*{
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei";
}
li{
  list-style:none;
}
a {
  text-decoration: none;
}
.fa-sort-desc{
  color:Grey;
}
.fa-shopping-cart,.fa-globe,.fa-star{
  color:black;
}
#top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color:white;
}
.top-nvbar{
     margin-left: 160px;
}
.top-nvbar>li{
  display:inline-block;
  margin-right: 25px;
}
.top-nvbar a{
  color:Grey;
  line-height: 59px;
}
.mywork{
  position:relative;
}
.mywork-list{
  width: 100px;
  position:absolute;
  display:none;
  top: 59px;  /*因为relative的父类元素为fixed*/
  background-color:white;
  border:1px solid LightGrey;
  border-radius:5px;
}
.mywork-list a{
  line-height: 40px;
}
.mywork:hover .mywork-list{
  display:block;
}
.top-nvbar a:hover{
  color:black;
}
.mywork-list li:hover{
  background-color:Lightgrey;
}
.nolink-one{
 text-indent:15px;
 border-top: 1px solid lightGrey;
 height:30px;
 line-height: 30px;
}
#header{
  background-color:#B22222;
  margin-bottom: 30px;
  margin-top: 59px;
}
#header p{
  width: 1000px;
  font-size:20px;
  color:white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin:0 auto;
}
.bold{
  font-size:45px;
}
#main-wrap{
  margin: 0 auto;
  width: 1000px;
}
.main-title{
  background-color: Lightgrey;
  box-sizing:border-box;
  padding-left: 15px;
  line-height: 40px;
}
.homepage-link {
  color: red;
}
.homepage-link:hover {
  color: black;
  border-bottom: 1px solid;
} 
.works-display p{
  font-size:13px;
}
.a1:hover {
  opacity: 0.5;
}
.works-list{
 margin-top: 30px;
 margin-right: -25px;
}
.works-list:after{
  clear: both;
  display: block;
  content: '';
}
.works-list li{
 float: left;
 width: 304px;
 border: 1px solid Lightgrey;
 border-radius: 4px;
 text-align: center;
 margin-right: 25px;
 margin-bottom: 25px;
 padding: 5px;
 line-height: 2.5em;
 padding-bottom: 15px;
}
.check{
  padding:7px;
  color: black;
  border: 1px solid Lightgrey;
  border-radius: 5px;
}
.check:hover{
  background-color:Lightgrey;
}
#footer{
  margin-top: 30px;
  background-color:#B22222;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align:center;
}
#footer p{
  color:white;
}
.bigger{
  font-size:35px;
}
#footer-note {
 width: 1000px;
 margin:60px auto;
 text-align: center;
}
#footer-note a{
  color:red;
}
#footer-note a:hover{
color:black;
border-bottom:1px solid;
}
.line{
  width: 800px;
  margin: 10px auto;
  border-bottom: 2px solid Grey;
}
