/*******************通用******************/
html,body,h1,h2,h3,ul,p {
	margin:0;
	padding:0;
}
html,body {
	width: 100%;
	height: 100%;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.wrap {
	width: 1170px;
	margin:0 auto;
}
.fix-top {
	position: fixed;
	left:0;
	top: 0;
	z-index: 1010;
}
.vertical-align {
	display: table-cell;
	vertical-align: middle;
}
.btn {
	display: inline-block;
	border:none;
	border-radius: 3px;
	background-color: #FED136;
}
.btn:hover {
	background-color: #FEC503;
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right;
}
.left-text {
	text-align: left;
}
/*******************nav******************/
#nav {
	padding:20px;
	width: 100%;
	background-color: #3A3635;
}
#nav>.wrap:after {
	content: "";
	display: block;
	clear: both;
}
#nav h2 {
	float: left;
	font-size:2rem ;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	color: #fed136;
}
#nav ul {
	float: right;
	padding-top: 10px;
	word-spacing: 25px;
}
#nav ul>li {
	display: inline-block;
}
#nav ul>li>a {
	color:white;
}
#nav ul>li>a:hover {
	color:#fed136;
}
/*******************header******************/
#header {
	display: table;
	width: 100%;
	height: 100%;
	margin-top: 77px;
	background-image: url(../img/header-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}

#header h2 {
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	font-size: 2.5rem;
}
#header h1 {
	margin-top: 10px;
	margin-bottom: 45px;
	font-size: 4.5rem;
}
#header a {
  padding: 20px 35px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/*******************services******************/
#services {
	color: #333;
}
#services .center-text {
	padding-top: 120px;
	padding-bottom: 50px;
}
#services h1,#portfolio h1 {
  font-size: 2.7rem;
}
#services p,#portfolio p {
  font-style: italic;
  word-spacing: 5px;
}
#services ul {
	text-align: center;
	padding-bottom: 110px;
}
#services ul:after {
	content: "";
	display: block;
	clear: both;
}
#services ul>li {
	float: left;
	box-sizing: border-box;
	padding:0 10px;
	width: 390px;        /*1170/3*/
}
#services .text-primary {
	color: #FED136;
}
#services ul>li>h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 15px;
}
#services ul>li>p {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: #777;
}
/*******************portfolio******************/
#portfolio {
	background-color: #F7F7F7;
	padding-top: 120px;
	padding-bottom: 150px;
}
#portfolio ul {
	margin-top: 50px;
	margin-right: -30px;
}
#portfolio ul:after {
	content: "";
	display: block;
	clear: both;
}
#portfolio li {
	float: left;
	margin-top: 30px;
	margin-right: 30px;
}
#portfolio li img {
	display: block;
	max-width: 370px;
}
#portfolio .pf-link {
	display: block;
	position: relative;

}
.pf-content {
	position: absolute;
	top:50%;
	left: 50%;
	z-index: 1000;
	margin-left: -23px;
	margin-top: -28px;
	color: white;
}
.pf-cover {
	position: absolute;
	left: 0;
	top:0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background-color: #E4AB24;
}
.pf-content-hover {
	opacity: 0;
	transition:opacity .5s;
}
.pf-content-hover:hover {
	opacity: .8;
}
.summery {
	padding: 15px;
	background-color: white;
}
.summery h3,.summery p {
	color: #333;
}
.summery h3 {
	margin-bottom: 5px;
}
.summery p {
	margin-top: 5px;
	font-style: italic;
}

/*******************about******************/

#about {
	margin-top: 150px;
	margin-bottom: 400px;
}
#about ul {
	position: relative;
	margin-top: 100px;
}
#about ul>li {
	margin-top: 100px;
}
#about ul>li>img {
	border: 5px solid #ccc;
	border-radius: 50%;
	width: 150px;

	position: absolute;
	left: 50%;
	margin-left: -75px;
}
#about .right-text {
	padding-right: 700px;
	padding-left: 100px;
}
#about .left-text {
	padding-left: 700px;
	padding-right: 100px;
}
#about h3 {
	margin-bottom: 5px;
}
#about p {
	color: #777;
}
#line {
	position: absolute;
	left: 50%;
	margin-left: 4px;
	height: 100%;
	border-left: 2px solid #ccc;
}
#about .about-end {
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;	
	border: 5px solid #ccc;
	border-radius: 50%;
	background-color: #FED136;
}

#about .about-end h3 {
	margin-top:53px;
	color: white;
}

/*******************team******************/
#team {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #F7F7F7;
}
#team ul {
	margin-top: 70px;
	margin-bottom: 70px;
}
#team ul:after {
	content: "";
	display: block;
	clear: both;
}
#team ul>li {
	float: left;
	width: 330px;
	margin: 30px;
}
#team ul>li>img {
	border: 5px solid white;
	border-radius: 100%;
}
#team ul>li>h3 {
	margin-top: 20px;
}
#team ul>li>p {
	margin-top: 5px;
}
.link-icon {
	font-size: 25px;
	color: #333;
}
.link-icon:hover {
	color: #FED136;
}
#team .center-text>p:last-child {
	padding:0 200px;
}
/*******************clients******************/

#clients ul:after {
	content: "";
	display: block;
	clear: both;
}
#clients ul>li {
	float: left;
	padding:50px 46.25px;
}
/*******************contact us******************/
#contact {
	background-image: url(../img/map.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}
#contact h1 {
	font-size: 40px;
}
#contact p {
	font-style: italic;
	color: #ccc;
}
#contact form {
	margin-top: 50px;
}
#contact form:after {
	content: "";
	display: block;
	clear: both;
}
.half-from {
	box-sizing: border-box;
	float: left;
	width: 50%;
	height: 280px;
	padding:20px;
}
.half-from input,.half-from textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #777;
  border-radius: 5px;
  outline: none;
}
.half-from input:focus,.half-from textarea:focus {
	border-color: #FED136;
}
.half-from textarea {
	width: 100%;
	height: 100%;

}
#contact form>button {
	padding:20px 40px;
	font-weight: bold;
	color: white;
	background-color: #FED136;
	border: none;
	border-radius: 5px;
}
#contact form>button:hover {
	background-color: #FEC503;
} 

/*******************copyright******************/
#copyright  {

}
#copyright ul:after {
	content: "";
	display: block;
	clear: both;
}
#copyright ul {
	padding:0 30px;
	margin-right: -60px;
}
#copyright ul>li {
	float: left;
  width: 330px;
  margin-right: 60px;
  line-height: 100px;
  text-align: center;

}

#copyright ul>li:last-child a {
	color: #FED136;
}
#copyright ul>li>a:hover {
	color: #FEC503;
	text-decoration: underline;
}