/*css reset*/
	body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,th,td,img,div,dl,dt,dd,input,select{margin: 0;padding: 0;}
	body{font-size: 12px;}
	img{border: none;vertical-align:top;}
	li{list-style: none;}
	input,select,textarea{outline: none;border: none;}
	textarea{resize: none;overflow:auto;}
	a{text-decoration: none;}


	/*clear float*/
	.clearfix:after{content: "";clear: both; display: table;}
	.clearfix{zoom:1;}
	
	.fl{float: left;}
	.fr{float: right;}

	.wrapper{
	width: 960px;
	margin: 0 auto;
	}
	body{
		font-family: "微软雅黑";
	}