*,li{
	padding:0;
	margin:0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body,.page2{
	height:100%;
	width:100%;
}
.page1{
	font-family:"Microsoft Yahei";
	font-size:16px;
	width:800px;
	margin:0 auto;
	position:relative;
	transform: translateY(180px);
	padding:1em;
	background:linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg,#C66439 0,#C66439 12.5%,transparent 0,transparent 25%,#58a 0,#58a 37.5%,transparent 0,transparent 50%) 0 / 5em 5em;
	border:1em solid transparent;
}
.page1:before{
	content:'"ME:';
	display:block;
	font-size:50px;
	position:absolute;
	left:-100px;
	top:-100px;
}
.page1:after{
	content:'"';
	display:block;
	font-size:50px;
	position:absolute;
	left:820px;
    top:230px;
}
.intro{
	position: relative;
}
.intro figcaption{
	font-size: 20px;
	position: absolute;
	left:220px;
	top:8px;
	line-height: 1.8em;
}
.intro figcaption img{
	transform: translate(10px,15px);
}
#bulb{
	position: absolute;
	transform: rotate(-120deg);
	top:20px;
	right:60px;
	animation: blink 1.5s linear 2.5s forwards;
}
@keyframes blink{
	0%{opacity: 1;}
	20%{opacity: 0;}
	40%{opacity: 1;}
	60%{opacity: 0;}
	80%{opacity: 1;}
	100%{opacity: 0;}
}
.page2{
	background: url(../img/greengray-s.jpg) no-repeat center center;
	background-size: cover;
	position:absolute;
	top:-100%;
	z-index:2;
	transition: all .4s linear;
	animation: slidedown 1s linear 4.2s forwards;
}
@keyframes slidedown{
	80%{top:0;}
	90%{top:-20px;}
	95%{top:-10px;}
	100%{top:0;}
}
@keyframes slideup{
	to{top:-100%;}
}
.nvbar{
	width:900px;
	margin:0 auto;
	transform: translateY(180%);
	padding-left:20px;
}
.special{
	margin-left:255px;
	margin-right:270px;
}
.nvbar li{
	font-family:"Microsoft Yahei";
	font-weight: bold;
	color:white;
	font-size:19px;
	display:inline-block;
	padding:.8em;
	background:tan;
	border-radius: .2em;
	box-shadow: 0 0 0 .6em #655;
	outline:.7em #655 solid;
	position: relative;
	top:-60px;
	cursor: pointer;
}
.nvbar li:before{
	color:#655;
	position: absolute;
	content:"|";
	display:block;
	font-size:90px;
	top:-215%;
	left:50%;
	transform: translateX(-50%);
}
.carousel{
	width:900px;
	height:490px;
	border:1px solid #758479;
	position:absolute;
	left:50%;
	top:58%;
	overflow: hidden;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}
.carousel ul{
	position:absolute;
}
.carousel ul:after{
	display:block;
	content:"";
	clear:both;
}
.carousel ul li{
	font-family: "Microsoft Yahei";
	width:900px;
	height:490px;
	background-color:#FCFCFC;
	padding:30px;
	line-height:1.8em;
	float:left;
}
.carousel ul li h3{
	color:#292a38;
	margin-bottom:15px;
}
.carousel ul li p{
	margin-bottom:15px;
}
@keyframes shrink{
	25%{top:-40px;}
	50%{top:-30px;}
	75%{top:-40px;}
	100%{top:-60px;}
}
.active{
	animation: shrink .6s linear;
}
.contact{
	position:absolute;
	left:15px;
	bottom:0px;
}
.gotop{
	transition: all .5s linear;
	position:fixed;
	right:70px;
	bottom:60px;
	cursor: pointer;
	opacity:0;
	z-index: 3;
	animation:showup .6s ease-out 5.3s forwards;
}
@keyframes showup{
	33%{opacity: 0;transform:scale(1);}
	66%{opacity: 1;transform:scale(1.5);}
	100%{opacity:1;transform: scale(1);}
}
.gotop img{
	transition: all .4s linear;
	transform: rotate(-90deg);
	border-radius: 50%;
}
@keyframes rollover{
	50%{transform:rotate(-180deg);}
	100%{transform: rotate(-270deg);}
}
@keyframes rollback{
	from{transform: rotate(-270deg);}
	to{transform: rotate(-90deg);}
}