@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-17 10:16:03
 * @version $Id$
 */
body,html,div,p,ul,li,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
	font: 16px/1.5 "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
}
body,html{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
li{
	list-style-type: none;
}
.line{
	max-width: 100px;
	margin-top: -2px;
	margin-bottom: 5px;
	border: 1px solid #E5E4E4;
	border-top: 0;
}
.btn{
	display: inline-block;
	width: 150px;
	height: 45px;
	line-height: 45px;
	margin: 20px 0;
	background-color: #6D7E84;
	transition: background-color 0.2s;
}
.btn:hover{
	background-color: #363E41;
}
/*------header------*/
#header h2{
	color: #333;
	font-size: 60px;
	font-weight: bold;
}
.text-vertical-center{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#header{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg)center center no-repeat scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#header p{
	font-size: 22px;
}
/*------about------*/
/*.about{
	position: relative;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	padding: 65px 0;
	text-align: center;
	background-color: #fff;
}*/
.about{
	position: relative;
	width: 960px;
	margin: 40px auto;
	text-align: center;
	background-color: #fff;
}
.about h3{
	font-size: 27px;
	color: #000;
	font-weight: bold;
}
.about p{
	font-size: 22px;
}
.about a{
	font-size: 20px;
	color: #337AB7;
}
.about p a:hover,
.about p a:active{
	color: #23527c;
	border-bottom: 2px solid #23527c;
}
/*------services------*/
.services {
	background-color: #337ab7;
	padding-top: 70px;
	padding-bottom: 50px;
}
.services .services-container {
	position: relative;
	width: 960px;
	/*left: 50%;
	margin-left: -480px;*/
	margin: 0 auto;
	text-align: center;
	color: #fff;
/*	border: 1px solid;*/
}
.services h3 {
	font-size: 28px;
}
.services .line {
/*	max-width: 100px;*/
	margin-top: 10px;
}
/*.services li {
	padding: 10px 30px;
	display: inline-block;
	*display: inline;
}*/
.services ul:after {
    content: '';
    display: block;
    clear: both;
}
.services ul {
    margin-top: 20px;
}
.services li {
    float: left;
    width: 210px;
    margin-right: 40px;
}
.services ul>li:nth-child(4){
    margin-right: 0;
}
.services h4 {
	padding: 10px 0;
	font-size: 18px;
}
.services p {
	/*width: 160px;*/
	font-size: 12px;
	line-height: 1.5em;
}
.services .fa-stack-1x{
	color: #337ab7;
}
.services .btn{
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 10px 0;
	font-size: 12px;
	color: #000;
	background-color: #fff;
	transition: background-color 0.2s;
}
.services .btn:hover{
	background-color: #eee;
}
/*------callout------*/
#callout{
	position: relative;
	/*display: table;*/
	/*margin: 0 auto;*/
	width: 100%;
	height: 400px;
	color: #fff;
	background: url(../img/callout.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#callout h2{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding-top: 135px;
	padding-bottom: 130px;
}
/*------work------*/
#work {
	background-color: #fff;
	position: relative;
	width: 960px;
	margin: 60px auto;
    text-align: center;
}
#work h5{
	color: #000;
	margin: 20px auto; 
	font-size: 26px; 
}
#work .line{
	max-width: 90px;
	color: #E5E4E4;
	margin-top: -5px;
}
/*#work ul:after{
	content: '';
	display: block;
    clear: both;
}*/
#work ul{
	margin-top: 20px;
}
#work li{
	width: 470px;
	margin-bottom: 30px;
	display: inline-block;
	*display: inline;
}
#work img{
	width: 94%;   /*图片实际宽度500px，li设置为470px*/
}
#work img:hover{
	opacity: 0.8;
}
#work .btn{
	display: inline-block;
	width: 130px;
	height: 35px;
	line-height: 35px;
	margin-top: -10px;
	font-size: 14px;
	background-color: #999999;
	transition: background-color 0.2s;
}
#work .btn:hover{
	background-color: #4C4C4C;
}
/*------more------*/
#more{
	background-color: #337ab7;
	margin-top: -35px; 
	display: table;
	position: relative;
	width: 100%;
	height: 220px;
}
#more a{
	display: inline-block;
	*display: inline;
	width: 120px;
	height: 45px;
	line-height: 45px;
	margin-left: 12px;
	margin-right:12px;
	font-size: 16px;
	transition: background-color 0.2s;
}
#more a:nth-child(2){
    color: #333;
    background-color: #fff;
}
#more a:nth-child(2):hover{
    background-color: #d6e4f0;
}
#more a:last-child{
    color: #fff;
    background-color: #1f496e;
}
#more a:last-child:hover{
    background-color: #0f2436;
}
#more p{
	color: #fff;
	font-size: 24px;
    padding-bottom: 15px;
}
/*------footer------*/
#footer{
	display: table;
	width: 100%;
	height: 470px;
	position: relative;
}
#footer h5{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
#footer .address p:nth-child(4){
	margin-top: 15px;
}
#footer .address p{
	font-size: 14px;	
}
#footer .address a{
	color: #338ACF;
}
#footer .address a:hover{
	color: #23527C;
	text-decoration: underline;
}
#footer .icon a{
	color: #337AB7;
	font-size: 40px;
	display: inline-block;
	*display: inline;
	margin: 20px 15px;
}
#footer .icon a:hover{
	color: #23527C;
}
.icon p{
	color: #77777b;
	font-size: 14px;
	padding-top: 8px;
}
.address p span{
	margin-right: 5px;
}
