 body, ul, li{
 	margin: 0px;
 	padding: 0px;
 }
 body{
 	position: relative;
 }
 #header{
 	margin-left: 30px;
 	margin-top: 30px;
 	
 }

 .hr1{
 	margin: 0px;
 	height: 1px;
 	width: 160px;
 	border: 0px;
 	background-color: #D5D5D5;
 	color: #D5D5D5;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }
 .header-1-1{
  	background: url(美工考题/etw-test_0047_矩形-7.png) 0px 270px no-repeat;
 }
 .header-2-ul>li{
 	display: inline-block;
 	list-style: none;
 	text-indent: 0.5em;
 	background-color: #ccc;
 	font-size: 18px;
 	padding-right: 6px;
 }

 .header-2{
 	float: right;
 	margin-right: 280px;
 	
 }
 .header-1{
 	float: left;
 	padding-left: 60px;
 }
 
 #home{
 	background-color: blue;
 }
.header-2-ul{
	padding-top: 50px;
}
.header-2-logo1{
	float: right;
	display: block; 
	background-color: #3399FF; 
	padding: 250px 10px 10px 10px; 
	position: relative;

}
.header-2-img1{
	position: relative;
	right: 165px;
	top: 100px;
	float: right;
	z-index: 1;

}
.header-2-img{
	display: inline-block;
	width: 280px;
	height: 280px;
	margin-left: 25px;

}
.header-2-2{
	margin-top: 30px;
	margin-left: 90px;
	font-size: 0px;
}
.header-2-3{
	margin-top: 20px;
}
.content-1-logo1{
	float: left;
	border: 1px solid black;
}
#content-1{
    padding-top: 700px;
    position: absolute;
    padding-left: 100px;
}
.content-1-logo2{
	padding-left: 280px;
	position: relative;
	width: 1000px;
	padding-top: 25px;
}
.content-1-p1{
 	position:relative;
 	top: 20px; 
 }
.more{
	width: 50px;
	height: 25px;
	line-height:25px; 
	background-color: #3399FF;
	text-align: center;
	color: white;
	margin-left: 650px;
}
#content-2{
	position: relative;
	padding-top: 180px;
	padding-left: 10px;
}
.content-2-img{
	padding-bottom: 20px;
}
.content-2-logo1{
	float: right;
	border: 1px solid black;
	margin-right: 290px;
}
.more1{
	width: 50px;
	height: 25px;
	line-height:25px; 
	background-color: #3399FF;
	text-align: center;
	color: white;
}
.content-2-1{
	float: left;
	position: relative;
	top: 20px;
}
#content-3{
    padding-top: 300px;
    position: absolute;
    padding-left: 
}
#content-4{
    padding-top: 200px;
    position: absolute;
    
}
.content-4-logo1{
	float: right;
	border: 1px solid black;
	position: relative;
	left: 30px;
}
#content-5{
	padding-top: 550px;
    position: absolute;
}
.more3{
	width: 50px;
	height: 25px;
	line-height:25px; 
	background-color: #3399FF;
	text-align: center;
	color: white;
	position: relative;
	left: 650px;
	top: 20px;
}
#content-6{
	padding-top: 220px;
    position: absolute;
}