*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: "微软雅黑";
	display: block;
}
.wrap{
     width:1140px;
     margin: 0 auto;
     text-align: center;
}
/*导航条*/
.head{
	background-color: #212025;
	height: 80px;
	line-height:80px;
	width:100%;
	display: block;
	position: fixed;
}	
.nav li{
	float: right;
    color: #fff;
    padding-left: 20px;
}
.start{
	font-size: 25px;
	color: #FED136;
	float: left;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.nav li:hover{
	color: #FED136;
}
/*welcome to our*/
.welcome{
	background: url(../image/header-bg.jpg) center center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    padding: 250px 0;
}
.wel{
	color: #fff;
}
.wel h6{
	font-size: 30px;
}
.wel h1{
	font-size: 70px;
	margin: 50px;
}
.wel a{
	padding: 20px;
	border-radius: 5px;
	background-color: #FED136;
	margin: 20px;
	color: #fff;
	font-weight: bold;
}
/*services的样式*/
.services{
	padding:150px 0;
}
.ser{
	padding: 100px 0 100px 0;
}
.ser h2{
	font-size: 40px;
	font-weight: bold;
}
.ser p{
	font-size: 16px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 30px;
	color: #666666;
}
 .commerce span{
	background-color: #FED136;
	border-radius: 50%;
	display: table;
	position: relative;
	height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}
ul.commerce{
	zoom: 1;
}
.commerce li span i{
	display: table-cell;
	color: #fff;
	vertical-align: middle;
	font-size: 4em;
}
.commerce li{
	float: left;
	padding: 0 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.commerce h5{
	font-size:18px;
	padding: 10px;
}
.commerce p{
	font-size: 12px;
	padding: 0;
	line-height: 24px;
	letter-spacing: 1px;
}