*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: "微软雅黑";
	display: block;
}
.wrap{
     width:1140px;
     margin: 0 auto;
     text-align: center;
}
/*导航条*/
.head{
	background-color: #212025;
	height: 80px;
	line-height:80px;
	width:100%;
	display: block;
	position: fixed;
	z-index: 999;
}	
.nav li{
	float: right;
    color: #fff;
    padding-left: 20px;
}
.start{
	font-size: 25px;
	color: #FED136;
	float: left;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-style: italic;
}
.nav li:hover{
	color: #FED136;
}
/*welcome to our*/
.welcome{
	background: url(../image/header-bg.jpg) center center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    padding: 250px 0;
}
.wel{
	color: #fff;
}
.wel h6{
	font-size: 30px;
}
.wel h1{
	font-size: 70px;
	margin: 50px;
}
.wel a{
	padding: 20px;
	border-radius: 5px;
	background-color: #FED136;
	margin: 20px;
	color: #fff;
	font-weight: bold;
}
/*services的样式*/
.services{
	background-color: #fff;
}
.ser{
	padding: 100px 0 ;
}
.ser h2{
	font-size: 40px;
	font-weight: bold;
}
.ser p{
	font-size: 16px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 30px;
	color: #666666;
}
.commerce{
	display: block;
}
 .commerce span{
	background-color: #FED136;
	border-radius: 50%;
	display: table;
	position: relative;
	height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}
ul.commerce{
	zoom: 1;
}
.commerce li span i{
	display: table-cell;
	color: #fff;
	vertical-align: middle;
	font-size: 4em;
}
.commerce li{
	float: left;
	padding: 0 20px;
	margin-top: 50px;
}
.commerce h5{
	font-size:18px;
	padding: 10px;
}
.commerce p{
	font-size: 12px;
	padding: 0;
	line-height: 24px;
	letter-spacing: 1px;
}
li.clear{
	float:none;
	clear:both;
}
/*portf的样式*/

.portf{
    padding:150px 0;
	background-color: #F7F7F7;
}
.lorem p{
	padding:20px;
	margin-bottom:40px;
	font-style: italic;
}
.picture{
	overflow: hidden;
}
.pic li{
	background-color:#fff;
	float: left;
	width: 360px;
	margin: 0 15px 30px 0;
}
.pic h2{
	margin-top:20px;
}
.pic p{
	margin-top: 10px;
	padding-bottom: 40px;
}
.pic img{
	width: 360px;
}
.pic a:hover .pic-btu{
	display: block;
}
.pic-btu{
	background-color: #F6CD41;
	width: 360px;
	height:260px;
	position: absolute;
	display: none;
}

.pic-hover{
	padding-top: 100px;
}
.pic-btu .fa-5x{
	color: #fff;
}
/*about的样式*/
.about{
	padding:120px;
}
.timeline li:after{
	content: "";
	display: table;
	clear: both;
	overflow: hidden;
}
.timeline li.line{
	border-left: 2px solid #ddd;
    position: absolute;
    left: 50%;
    height: 180%;
    margin-left: 15px;
}
.left1 .time-img{
	border: 5px solid #ddd;
	border-radius: 50%;
	overflow:hidden;
	width: 156px;
	height: 156px;
	position: relative;
	left: 50%;
	margin-left: -25px;
	margin-bottom: 120px;
}
.right1 .time-img{
	border: 5px solid #ddd;
	border-radius: 50%;
	overflow:hidden;
	width: 156px;
	height: 156px;
	position: relative;
	left: 50%;
	margin-right: 255px;
	margin-bottom: 120px;
}
.story .time-img{
	border: 5px solid #ddd;
	border-radius: 50%;
	overflow:hidden;
	width: 156px;
	height: 156px;
	position: relative;
	left: 50%;
	margin-left: -80px;
	margin-bottom: 120px;
	background-color: #FED136;
}
.story .time-img a{
	display: inline-block;
    width: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-top: 50px;
}
.timeline ul:after{
	content: "";
	display: table;
	clear: both;
	overflow: hidden;
}
.left1 li{
	float: left;
}
.text{
	width: 360px;
}
.left1 .time-text{
    text-align: right;
    margin-left: 80px;
}
.right1 li{
	float: right;
}
.right1 .time-text{
    text-align: left;
    margin-right: 80px;
}
/*team样式*/
.team{
	background-color: #ddd;
	padding: 120px 0;
}
.clearfix:after{
	content: "";
	clear: both;
	display: table;	
}
.team-pic li{
	float: left;
	margin-left: 120px;
}
.pic1 img{
	border: 3px solid #fff;
	border-radius: 50%;
	width: 240px;
	height: 240px;
	overflow: hidden;
}
.team-pic .fa-2x{
     color: #fff;
     margin-top: 6px;
     font-size: 1.5em;
} 
.team-pic a{
	background-color: #000;
	width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}
.team-pic .text1 h3{
	margin-top: 30px;
	margin-bottom: 20px；
}
.team-pic .text1 p{
	margin-bottom: 20px;
}
/*us*/
.us{
	padding:50px;
}
.us-pic1 img{
	padding: 0 30px 0 30px;
	width: 300px;
}
.us-pic2{
	background: #000 url(../image/map-image.png) top left;
    padding: 150px 0;
	width: 100%;
}
.us-pic2 .map h4{
	color: #fff;
	font-size: 25px;
}
.us-pic2 .map p{
	color: #fff;
	font-style: italic;
}
.user-info input {
    display: block;
    width: 500px;
    height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
}
.user-info{
	float: left;
}

.user-info input:focus, textarea:focus {
    border: 1px solid #fed136;
}
textarea {
    width: 45%;
    height: 192px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    float: left;
    margin-left: 60px;
}
input[type="submit"]{
	clear:both;
}
.btn{
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    background: #fed136;
    display: block;
    width: 220px;
    height: 65px;
    line-height: 65px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px auto;
}
/*foot*/
.footer {
    position: relative;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    height: 90px;
}

.footer .wrap-center {
    position: absolute;
    width: 70%;
    height: 42px;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -35%;
}

.footer ul {
    margin: 0 180px;
}

.footer .info a {
    color: #fed136;
}

.footer .info a:hover {
    color: #fec503;
    text-decoration: underline;
}

.footer .info a:nth-child(2) {
    margin-left: 15px;
}
.social li{
	border-radius: 50%;
	background-color: #000;
	height:40px;
	width: 40px;
	float: left;
}
.social .fa-2x{
	color: #fff;
	margin-top: 10px;
	font-size: 1.5em;
}
p.info{
	display: inline-block;
	line-height: 42px;
}
.footer-float1 li{
	float: left;
}
.copyright{
	margin-top: 50px;
}
ul.social{
	margin-top: 40px;
}
.info{
	margin-bottom: 30px;
}