@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-02-25 12:27:20
 * @version $Id$
 */
div,p,span,a,body,ol,li{
	padding: 0;
	margin:0;

}

body{
	font-family: "Microsoft Yahei",Arial;
	font-size: 16px;
	color:#333;
}

div{
	width:960px;
	margin:0 auto;

}

h2{
	text-align: center;
	color:#999;
}

ol{
	
	list-style: none;
	color:#333;
	border:solid 1px #aaa;
	padding:10px;
	border-radius:1em;
}

li{
	padding:5px;
	margin:5px;
}
span{
	color:#F93B3B;
}

b{
	font-size: 1.2em;
	display:block;
	background-color:#aaa;
	color:white;
	padding:10px;
	padding-left: 20px;
	border: solid white 1px;
	border-radius: 10px;
}
li p{
	display:inline-block;
	text-indent: 2em;
	line-height: 1.5em;
	font-size: 16px;
	margin:5px 20px;
	margin-bottom: 0;
	padding:0 10px;
	text-align: justify;
	color:#000;
}
img{
	width:900px;
	padding:10px;
	margin:10px;
	margin-bottom: 0;
}