*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:"Microsofy Yahei";
	font-size:16px;
}
#tab-cards{
	width:398px;
	height:148px;
	border:1px solid #CCC;
	margin:0 auto;
	margin-top:100px;
}
.bgcolorbox{
	background-color:lightGrey;
}
.tab-tit ul{
    overflow:hidden;
	width:399px;
	border-bottom:1px solid lightGrey;
}
.tab-tit li{
	float:left;
	width:132px;
	text-align:center;
	line-height:27px;
	display:inline;
    border-right:1px solid lightGrey;
}