html,body,ul,li,p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html, body, #header, #header .carousel, #header .img-ct{
    height: 100%;
    width: 100%;
}
.carousel{
    position: relative;
    width: 310px;
    height: 206px;
    overflow: hidden;
}
#header .img-ct{
    position: absolute;
}
#header .img-ct:after{
    content: '';
    display: table;
    clear: both;
}
#header .item{
    position: relative;
    float: left;
    height: 100%;
}
#header .main{
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
#header .main h3{
    font-size: 34px;
}
#header .main p{
    font-size: 16px;
    line-height: 2;
}

#header .cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
ul.bullet {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
ul.bullet li {
    width: 20px;
    height: 10px;
    border-radius: 6px;
    background: #777;
    display: inline-block;
    cursor: pointer;
}

ul.bullet li.active {
    background: #fff;
}

