@charset "UTF-8";

body,div,ul,li,p,h1,h2,h3,j4,h5,h6{
	margin: 0px;
	padding:0px;
	font-family: "微软雅黑", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400; 
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #777;
}
#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	z-index: 1;
	background: white;
	border-bottom: 1px solid #bbb;

}
#header-container{
	height: 50px;
	width: 1000px;
	margin: 0 auto;
	line-height: 50px;
}
.menu li{
	color:#777;
}
.menu li:hover,.menu a:hover{
	color: black;

}
.menu>li{
	display: inline-block;
	padding: 0 14px;
}
.dropdown{
	position: relative;
}
.dropdown-menu{
	position: absolute;
	display: none;
	border: 1px solid black;
    width: 150px;
    background: #fff;
    border-radius: 0 0 5px 5px;
}
.dropdown li{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.dropdown-footer{
	border-top: 1px solid black;
}
.dropdown:hover{
	cursor: pointer;
}
.dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
   
}
.menu .jirengu-title{
    font-size: 18px;
    padding-left: 0px;
}
#main{
	position: relative;
	top: 50px;
	width: 100%;
	overflow: hidden;
}
#main-header{
	height: 256px;
	background: #b84d45;
	color: white;
}
.main-header-container{
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}
.main-header-container h1{
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 10px;
}
.main-header-container p{
	font-size: 1.4em;
	font-weight: 100;
	margin-bottom: 10px;
}
.main-work{
	width: 100%;
	position: relative;
}
.main-work:after{
	content: " ";
	display: table-cell;
	clear: both;
}
.main-work-container{
	width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.main-work-path{
	background-color: #f5f5f5;
	margin: 40px 0 30px 0;
}
.path-header{
	color: red;
}
.main-work-path li{
	display: inline-block;
}
.work-items{
	width: 310px;
	height: 380px;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
}
.work-overview,.work-overview img{
	width: 300px;
	height: 200px;
	margin: 2.5px auto;
}
.work-describe{
	width: 310px;
	height: 178px;
	margin: 0 auto;
	position: absolute;
	bottom: 0px;
	text-align: center;
}
.work-describe h3{
	font-size: 26px;
	padding-top: 30px;
	text-align: center;
}
.work-describe p{
	font-size: 14px;
	padding-top: 20px;
	text-align: center;
}
.work-describe .btn{
	display: inline-block;
	color: #333;
	border: 1px solid #bbb;
	border-radius: 4px;
	height: 30px;
	width: 45px;
	line-height: 30px;
	text-align: center;
	margin: 20px auto;
	vertical-align: middle;
}
.work-describe .btn:hover{
	background: #ccc;
}

#main-footer{
	width: 100%;
	background:  #b84d45;
	color: white;
	height: 180px;
}
#main-footer h2,h4{
	text-align: center;
	line-height: 1.2em;
	height:1.2em;
	font-weight: normal;
}
#main-footer h2{
	padding-top: 50px;
}

#footer{
	width: 100%;
	position: relative;
	margin-top: 100px;
	height:100px;
	text-align: center;
	color: #ccc;
}
#footer hr{
	max-width: 1000px;
	opacity: 0.7;
}
#footer a{
	color: red;
}
#footer a:hover{
    text-decoration: underline;
    color: black;
}