@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-03 17:17:09
 * @version $Id$
 *写个div，边框为1px, #ccc, 宽度为200px, 高度为80px, 内有一行文字这里
 *是饥人谷，文字字体大小14px, 颜色#f0f, 文字在div里垂直水平居中
 */
div{
	width: 200px; height: 80px;
	font-size: 14px;
	color: #f0f;
	line-height: 80px;   /*实现垂直居中*/
	text-align: center;
	border: 1px #ccc solid;
	background-color: #ddd;

}
