/*
TODO: 各种文字/背景的hover效果(active效果,ipad下active时的长条背景
TODO: 响应式
*/

body,div,p,h1,h2,h3,ul,li,table,tr,th,td,a {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

a { text-decoration: none; }
li { list-style: none; }
img { border: none; }

.hide {
    display: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.name:hover {
    cursor: pointer;
}

/* ------------ Header ------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    -webkit-box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    box-shadow: 0 0 5px #eee;
}

.header-wrap {
    max-width: 920px;
    margin: 0 auto;
}
.header h1 {
    float: left;
    margin-left: 5px;
    font-size: 24px;
}

.nav {
    float: right;
}
.nav li {
    display: inline-block;
    padding: 0 20px;
}

.header a {
    font-size: 18px;
    color: #333;
}

.header li.active,
.header li:hover {
    background: #1e40a0;
}

.header li.active a,
.header li:hover a {
    color: #fff;
}

.header i {
    padding-right: 10px;
}

.toggle-nav {
    position: absolute;
    right: 30px;
    font-size: 24px;
}

@media (max-width: 640px) {
    .nav {
        position: absolute;
        top: 60px;
        right: 3px;
        background-color: #fff;
        border: 1px solid #eee;
        border-top: 0;
        -webkit-box-shadow: 0 0 5px #eee;
        -moz-box-shadow: 0 0 5px #eee;
        box-shadow: 0 0 5px #eee;
    }

    .nav li {
        display: list-item;
    }
}

/* ------------ Main ------------*/

.section {
    padding-top: 60px;
}

.section h2 {
    width: 18%;
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: 2px dotted #ccc;
}

@media (max-width: 480px) {
    .section h2 {
        font-size: 1.125em;
    }
}

.section h2 i {
    position: relative;
    top: -1px;
    left: 0;
    padding-right: 15px;
}

#time-table li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 4px;
    color: #fff;
    background-color: #00bcdd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}

#time-table li:hover {
    background: #1e40dd;
    transition: background .20s ease;
}

#time-table li.today {
    background: #1e40a0;
}

#time-table li.rest {
    background: #ccc;
    cursor: default;
}

#time-table span {
    display: block;
    margin: 3px 0;
    line-height: 1.2;
}

#time-table .date {
    font-size: 20px;
    font-weight: bold;
}

#time-table .day {
    font-size: 12px;
}

.single-game {
    max-width: 760px;
    margin: 20px auto;
    border: 2px solid #b2b2b2;
}

.school-school p {
    display: inline-block;
}

.info {
    width: 95%;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    background: #baeef8;
}

.info .round-wrap {
    float: left;
}

.info .time-wrap {
    float: right;
}

.info i {
    margin-right: 5px;
    font-size: 18px;
}

.info span {
    color: #1e40a0;
}

.info span:hover {
    color: #fd6a06;
}

.first .name, .third .name, .final-score {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.vs {
    display: inline-block;
    margin: 10px;
}

.final-score {
    color: #c7171e;
}

.scoreboard {
	width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

.scoreboard tr {
	border-bottom: 1px solid #ccc;
}

.scoreboard tr.visit {
	border-bottom: none;
}

.scoreboard td {
	padding: 5px 10px;

}

.scoreboard td.final {
	border-right: none;
    font-weight: bold;
    color: #baeef8;
}

.scoreboard td {
	padding: 5px 10px;
    color: #fff;
    background-color: #1e40a0;
    border-right: 1px solid #ccc;
}

.scoreboard .name {
    font-size: 16px;
    font-weight: bold;
}

.after-game {
    width: 95%;
    margin: 0 auto;
    background-color: #eee;
}

.after-game a {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.after-game a:hover {
    color: #fd6a06;
}

.after-game a.disabled,
.after-game a.disabled:hover {
    color: #ccc;
    cursor: default;
}

.news {
    margin-right: 160px;
}

.after-game i {
    margin-right: 10px;
}

.show-more {
    margin-top: 20px;
    color: #fff;
    background-color: #215ba0;
    cursor: pointer;
}

.triangle-to-bottom {
    position: relative;
    top: 12px;
    left: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
}

.triangle-to-top {
    position: relative;
    top: -12px;
    left: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}

.single-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 760px;
    height: 400px\9;
    transform: translate(-50%, -50%);
    margin-left: -380px\9;
    margin-top: -200px\9;
    background-color: #fff;
    border: 2px solid #b2b2b2;
}

.card-header {
    width: 95%;
    margin: 30px auto;
    padding: 10px 20px;
    color: #fff;
    background-color: #1e40a0;
}

/* TODO: 合并.info和.card-header的相同样式,比如用同一个class */
.card-header h3, .card-header span {
    float: left;
}

.card-header h3 {
    margin-right: 10px;
}

.card-header h3 i {
    margin-right: 5px;
}

.card-header span {
    position: relative;
    top: 2px;
}

.card-header p {
    float: right;
    font-weight: bold;
}

.card-header p i {
    margin-right: 10px;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: #00bcdd;
}

#close i {
    position: relative;
    top: -1px;
    left: 1px;
    width: 12px;
    height: 12px;
}

#card-content {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#card-content tr {
    border-bottom: 1px solid #ccc;
}

#card-content td {
    border-right: 1px solid #ccc;
}

#card-content .first-name,
#card-content .third-name {
    font-weight: bold;
}


#card-content .score {
    font-weight: bold;
    background-color: #baeef8;
}

.triangle-to-right {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #000;
}

#card-content .result {
    cursor: pointer;
}

#card-content .result:hover {
    font-weight: bold;
    background-color: #baeef8;
}

#card-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.card-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tournament {
    position: relative;
    width: 750px;
    height: 900px;
    margin: 0 auto;
    background: url(../img/tournament.png) center center no-repeat;
}

#school-left {
    position: absolute;
    top: 19px;
    left: -7px;
    z-index: 1; /*由于出现在前面,因此绝对定位之后,就被后来的#date-left给覆盖在上面了,因此没办法点击具体的学校产生响应,修改z-index把#school-left放到上面. */
}

#school-right {
    position: absolute;
    top: 19px;
    right: -7px;
}

.school-column li {
    display: block;
    width: 132px;
    width: 140px\9;
    height: 20px;
    margin: 0 0 36px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #baeef8;
    border: 1px solid #ccc;
}

.school-column li.sayonara {
    background: #ccc;
    color: #eee;
}

.school-column .prefecture {
    font-weight: normal;
}

#school-left li span {
    padding-right: 3px;
}

#school-right li span {
    padding-left: 3px;
}

#date-left, #date-right {
    top: 0;
    position: absolute;
    width: 250px;
    height: 850px;
}

#date-left {
    left: 6px;
    padding-top: 6px;
}

#date-right {
    right: 25px;
    padding-top: 6px;
}

.date-column li,
.winner .final {
    width: 42px;
    height: 16px;
    font-size: 14px;
    font-style: italic;
    background-color: #ececec;
}

.date-column li {
    position: relative;
}

.date-column li:hover,
.winner .final:hover{
    cursor: pointer;
}

.triangle-to-left {
    position: absolute;
    top: 0;
    left: -16px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #ececec;
}

#date-left i {
    position: absolute;
    left: 42px;
    border-left-color: #ececec;
    border-width: 8px;
}

#date-left li.round-1 {
    margin: 41px auto 40px 120px;
}

#date-left li.round-2 {
    margin-left: 173px;
}

#date-left li.round-3 {
    margin-left: 205px;
}

#date-left li.round-semi {
    position: relative;
    top: 6px;
    margin-left: 237px;
}

#date-right li.round-1 {
    margin: 41px auto 40px 107px;
}

#date-right li.round-2 {
    margin-left: 54px;
}

#date-right li.round-3 {
    margin-left: 22px;
}

#date-right li.round-semi {
    position: relative;
    top: 6px;
    margin-left: -10px;
}

.winner p {
    position: relative;
    top: 415px;
    margin: 10px auto;
}

.winner .name {
    width: 70px;
    height: 30px;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    box-shadow: 0 0 5px #eee;
}

#reference li {
    display: inline-block;
    margin: 40px 20px 60px;
}

.footer {
    margin: 30px 0;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}