body, div, ul, li{
	margin: 0px;
	padding: 0px;
}
#header{
  background-color: #ccc;
  height: 35px;
  line-height: 35px;
  position: relative;
  top: 10px;
  left: 5px;
}
.nav>li{
  display: inline-block;
  float: left;
  list-style: none;
  margin-left: 15px;
}
.nav{
	position: absolute;
	left: 10px;
}
.nav a{
	text-decoration: none;
	color: black;
}
.nav-1>li{
	display: block;
	list-style: none;
}
.nav-1{
	display: none;
}
.nav-1>li:hover .nav-1{
	display: block;
}