body,ul,li,h2,h3,h5,p,strong{
	margin:0;
	padding:0;
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
		color:#646363;
}
li{
	list-style:none;
}
.body{
	position: relative;
}
.clear{
	content: "";
	display: block;
	clear:both;
}
#nav{
	width:100%;
	border:1px solid #eee;
	position: fixed;
	background:white;
}
.nav_link{
	width:1000px;
	height:50px;
	margin:0 auto;
}
.logo{
	font-size:20px;
	float:left;
	line-height:50px;
	margin-right:30px;
	opacity: 0.7;
}
.subnav{
	float:left;
}
.subnav>ul>li{
	font-size:14px;
	float:left;
	line-height: 50px;
	margin-right:30px;
}
.subnav>ul>li:first-child{
	position: relative;
}
.subnav_a:after{
		content: "";
		border:5px solid transparent;
		border-top-color:black;
		position: relative;
		top:10px;
		left:5px;
}
.subnav li:hover .subnav_ul{
	display: block;
}
.subnav_ul li:hover{
	background:#eee;
}
.subnav_ul{
	position: absolute;
	top:100%;
	left:-20px;
	border:1px solid #eee;
	width:160px;
	background:white;
	display: none;
}
.subnav_ul div{
	line-height: 30px;
		margin:0 20px;
}
.subnav_ul i{
	margin-right:5px;
}
.subnav_ul li:nth-child(3):after{
	width:140px;
	display: block;
	content: "";
	border-bottom:1px solid #eee;
	position: relative;
	left:-20px;
}
.subnav_ul li:nth-child(4){
	margin-top:5px;
	font-size:12px;
	color:#646363;
}
#header{
	width:100%;
	background:#b84d45;
	height:300px;
}
.header_wrap{
	width:1000px;
	margin:0 auto;
	padding:100px 0;
}
.header_wrap h2{
	color:white;
	font-size:54px;
	letter-spacing:2px;
}
.header_wrap p{
	color:white;
	font-size:26px;
	margin-top:10px;
}
#content{
	width:100%;
	margin-top:50px;
	margin-bottom: 50px;
}
.content_wrap{
	width:1000px;
	height:1700px;
	margin:0 auto;
}
.content_nac{
	padding-left:20px;
	width:100%;
	height:40px;
	line-height: 40px;
	background:#eee;
	font-size:14px;
}
.content_nac li{
	display: inline-block;
}
/*.content_nac a{
	color:#b84d45;
}*/
.content_nac li:nth-child(2):before{
	content:" / ";
	font-size:16px;
	color:gray;
	line-height: 40px;
}
.content_nac a:hover{
	text-decoration:underline;
}
.main>ul>li{
	height:370px;
	border:1px solid #e6e6e6;
	float:left;
	background-size: border-box;
	padding:5px;
	text-align:center;
	margin-top:20px;
	margin-left:18px;
	border-radius:5px;

}
.main img{
	border:1px solid #e6e6e6;
}
.main h3{
	margin:30px 0 20px 0;
	font-weight: bold;
	font-size:20px;
}
.main p{
	opacity: 0.8;
	margin-bottom:20px;
}
.main a:hover{
	opacity:0.6;
}
.btn{
	text-align:center;
	border:1px solid gray;
	border-radius:3px;
	padding: 5px 10px;
}
#footer{
	width:100%;
	height:200px;
	text-align:center;
	background:#b84d45;
	display: table;
}
.footer_wrap{
	display: table-cell;
	vertical-align: middle;
}
.footer_wrap h3{
	font-size:30px;
	color:white;
}
.footer_wrap h5{
	font-size:16px;
	color:white;
	letter-spacing: 2px;
	margin-top:10px;
}
#tips{
	width:100%;
	height:100px;
	text-align:center;
	margin-top:50px;
}
#tips div:before{
	content: "";
	display: block;
	border-top:1px solid #eee;
	margin-bottom: 20px;
}
#tips a{
	color:gray;
}
#tips a:hover{
	text-decoration:underline;
	color:#b84d45;
}
