html,body,div,p,ul,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
body {
	font:16px/1.5 "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
html,body {
	height: 100%;
	width: 100%;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
#header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #222222;
	position: fixed;
	z-index: 2;
}
.header-wrap {
	width: 1140px;
	margin: 0 auto;
}
.header-wrap>ul {
	float: right;
}
.header-wrap>ul>li {
	float: left;
}
.header-wrap>ul>li>a {
	padding: 0 15px;
	color: #fff;
}
.header-wrap>ul>li>a:hover,
.header-wrap>ul>li>a:focus {
	color: #FED136;
}
.header-wrap .logo {
	float: left;
	padding: 0 15px;
	color: #FED136;
	font-family: "Kaushan Script",cursive;
	font-size: 2em;
}

.welcome {
	width: 100%;
	height: 100%;
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: cover;
	text-align: center;
}
.wel-text {
	width: 1140px;
	margin: 0 auto;
	padding-top: 300px;
	color: #fff;
}
.wel-text h1 {
	font-size: 5em;
	margin-bottom: 30px;
}
.wel-text h3 {
	font-size: 2.5em;
	font-style: italic;
}
.wel-text a {
	display: inline-block;
	border-radius: 4px;
	padding: 20px 40px;
	color: #fff;
	background-color: #fed136;
}
.wel-text a:hover {
	background-color: #fec503;
}
.services .ser-wrap {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}
.services .iterm li {
	float: left;
	width: 360px;
	margin-right: 20px;
	margin-top: 50px;
}
.services .iterm>li .fa-circle {
	color: #fed136
}
.services .iterm>li .fa-stack-1x {
	color: #fff;
}
.ser-wrap h3 {
	margin-top: 120px;
	font-size: 2.5em;
}
.ser-wrap>p {
	font-style: italic;
	color: #777777;
}
.iterm h4 {
	font-size: 1.25em;
	margin: 10px 0;
}
.iterm p {
	color: #777777;
}
.port-wrap {
	width: 1140px;
	margin:0 auto;
	text-align: center;
}
.imgbox li {
	float: left;
	padding: 0 30px 50px 0;
	display: inline-block;
	width: 350px;
}
.imgbox img {
	width: 100%;
}
.port-wrap h3 {
	margin-top: 120px;
	font-size: 2.5em;
}
.port-wrap>p {
	margin-bottom: 80px;
	font-style: italic;
	color: #777777;
}
.imgbox h4 {
	font-size: 1.25em;
}
.imgbox p {
	color: #777777;
	font-style: italic;
}
.imgbox a:hover {
	position: relative;
}
.imgbox a:hover:after {
	content: "+";
	font-size: 6.25em;
	font-weight: bold;
	color: #fff;
	background-color: #fed136;
	display: block;
	width: 100%;
	height: 254px;
	line-height: 254px;
	position: absolute;
	top: -240px;
	opacity: 0.8;
}
.about-wrap {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}
.about-wrap>h3 {
	margin-top: 120px;
	font-size: 2.5em;
}
.about-wrap>p {
	margin-bottom: 80px;
	font-style: italic;
	color: #777777;
}
.timeline img {
	border-radius: 100%;
	border: 8px solid #f1f1f1;
}
.timeline h4 {
	font-size: 1.25em;
}
.timeline p {
	color: #777777;
	font-style: italic;
}
.line-left {
	position: relative;
	top: -150px;
	left: -150px;
	width: 600px;
	text-align: right;
}
.line-right {
	position: relative;
	top:-150px;
	right: -700px;
	width: 600px;
	text-align: left;
}
.timeline li:nth-last-child(1) {
	width: 200px;
	height: 200px;
	background-color: #fed136;
	border-radius: 100%;
	border: 8px solid #fff;
	margin: 0 auto;
}
.timeline li:nth-last-child(1)>p {
	color: #fff;
	font-style: normal;
	font-weight: bold;
	padding: 65px;
}
.team-wrap {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}
.team-wrap h3 {
	font-size: 2.5em;
	margin-top: 300px;
}

.team-wrap p:nth-child(2) {
	font-style: italic;
	color: #777777;
}
.team-wrap p:nth-child(4) {
	color: #777777;
	margin:0 200px;
}
.team-row li {
	display: inline-block;
} 
.team-row>li {
	margin:50px 80px;
}
.team-row img {
	width: 180px;
	border-radius: 100%;
	border: 8px solid #eee;
}
.team-row h4 {
	font-size: 1.25em;
	margin: 10px 0;
}
.team-row p {
	color: #777777;
}
.team-icon>li .fa-circle {
	color: #000;
}
.team-icon>li .fa-stack-1x {
	color: #fff;
}
.team-icon>li:hover .fa-circle {
	color: #fed136;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}
.team-brand li {
	float: left;
	margin: 120px 40px 40px;
}
.contact {
	background-image: url(../images/map-image.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #222222;
	height: 100%;
	overflow: hidden;
}
.contact-wrap {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}
.contact-wrap h3 {
	color: #fff;
	font-size: 2.5em;
	margin-top: 180px
}
.contact-wrap p {
	color: #777777;
	font-style: italic;
	margin-bottom: 50px;
}

.contact-wrap .input input{
	width: 535px;
	height: 50px;
	margin-bottom: 20px;
}
.contact-wrap .input {
	width: 555px;
	float: left;
}
.contact-wrap .textarea {
	width: 350px;
	float: left;
}
.contact-wrap .textarea textarea {
	width: 350px;
	height: 199px;
	margin-left: 20px;
}
.contact-wrap .submit>input {
	border:none;
	border-radius: 4px;
	padding: 20px 40px;
	background-color: #fed136;
	color: #fff;
	cursor: pointer;
}
.submit>input:hover {
	background-color: #fec503;
}
#footer {
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.footer-wrap {
	width: 1140px;
	margin:0 auto;
	text-align: center;
}
.footer-icon .fa-circle {
	color: #000;
}
.footer-icon .fa-stack-1x {
	color: #fff;
}
.footer-wrap p {
	display: inline;
	float: left;
}
.footer-icon,
.footer-icon li {
	display: inline;
}
.footer-icon li:hover .fa-circle {
	color: #fed136;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}
.footer-wrap>a{
	float:right;
	padding:0 15px;
	color: #fed136;
}
.footer-wrap>a:hover {
	color: #fec503;
	text-decoration: underline;
}