
body,html,{
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
   color: white;
}
.fa-circle {
  color: #fff;
}
.fa-cloud, .fa-compass, .fa-flask, .fa-shield, .fa-facebook, .fa-twitter, .fa-dribbble {
  color: SteelBlue;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}
#homepage {
  height:100%;
  width:100%;
  background: url(pics/background.png) 0 0 no-repeat;
  background-size:cover;
  margin-bottom:0;
}
.content1 {
  text-align: center;
  padding-top: 230px;
  padding-bottom: 230px;
  line-height: 25px;
}
.content1 h1 {
  font-size: 55px;
}
.content1 p {
  font-size: 25px;
}
.a0 {
  display:block;
  text-align:center;
  height: 30px;
  width: 130px;
  margin: 0 auto;
  background-color:Grey;
  color: white;
  padding: 12px;
}
.content2{
  widthï¼š960px;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 85px;
  line-height: 30px;
}
.line1 {
  font-size: 25px;
}
.line2 {
  font-family: Arial;
  font-size: 20px;
}
.line2 a:hover {
  color: black;
  border-bottom: 1px solid;
}

#servicepage {
  background-color: SteelBlue;
  position: relative;
  padding-bottom: 65px;
  padding-top: 65px;
}
.header1 {
  display:block;
  text-align: center;
  color: white;
  font-size: 25px;
}
.underline{
  padding-top: 25px;
  width: 80px;
  border-bottom: 2px solid white;
  margin: 0 auto;
}
.list1 {
  text-align: center;
}
.list1 li {
  width: 200px;
  display: inline-block;
  padding: 0 40px;
}
.iconname {
  font-weight: bold;
  color: white;
}
.list1 a {
  font-size:12px;
  width: 120px;
  height: 40px;
  background-color:white;
  padding: 10px;
  color: black;
}
.list1 a:hover{
  background-color:LightGrey;
}

#pic {
  background: url(pics/2.jpg) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}
#pic p {
  width: 700px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 55px;
  padding-top:200px;
  padding-bottom: 200px; 
  
}

#displaypage p {
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
}
.underline2{
  margin: 0 auto;
  width: 80px;
  border-bottom: 2px solid Grey;
  padding-top: 25px;
}
.graphs {
  padding-top: 10px;
  padding-left:145px;
}
.graphs:after{
  content: '';
  display: block;
  clear: both;
}
.graphs1,.graphs3,.graphs2,.graphs4{
  float:left;
}
.graphs li{
  border: 15px solid white;
  width:500px;
}
#displaypage a {
  display: block;
  width: 110px;
  height: 20px;
  margin: 0 auto;
  background-color: Grey;
  line-height:20px;
  padding:7px;
  color: white;
  margin-bottom: 40px;
}
#displaypage a:hover{
  background-color:DimGrey;
}

#button {
  background-color: SteelBlue;
}
#button p {
  color: white;
  padding-top: 90px;
  text-align:center;
  font-size: 20px;
}
.a1,.a2 {
  display:inline-block;
  height: 25px;
  width: 100px;
  padding: 10px;
}
.button1{
  padding-bottom: 90px;
  text-align: center;
}
.a1 {
  background-color: white;
  color: black;
  margin-right: 20px;
}
.a2 {
  background-color: blue;
  color: white;
}
.a1:hover{
  background-color:LightBlue;
}
.a2:hover {
  background-color: #191970;
}

#lastpage{
  padding-top: 50px;
}
.container {
  text-align: center;
}
.container a:hover {
  border-bottom: 1px solid;
  color: black;
}
.icon {
   width: 160px;
   margin: 0 auto;
   margin-bottom: 20px;
}
.icon li {
  display: inline-block;
  text-align: center;
  padding-right: 20px;
}
.underline3{
  width: 80px;
  border-bottom: 2px solid Grey;
  margin: 0 auto;

}
#lastpage p{
    text-align: center;
    margin-bottom: 35px;
}