
body,html,{
  height:100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
   color: white;
}
.fa-circle {
  color: #fff;
}
.fa-cloud, .fa-compass, .fa-flask, .fa-shield, .fa-facebook, .fa-twitter, .fa-dribbble {
  color: SteelBlue;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}
#homepage {
  height:100%;
  width:100%;
  background: url(pics/background.png) 0 0 no-repeat;
  background-size:cover;
  margin-bottom:0;
}
.content1 {
  display: block;
  text-align: center;
  padding-top: 230px;
  padding-bottom: 230px;
  line-height: 25px;
}
.content1 h1 {
  font-size: 55px;
}
.content1 p {
  font-size: 25px;
}
.link0{
  width:100%;
  margin-left:45%;
}
.a0 {
  display:block;
  text-align:center;
  height: 30px;
  width: 130px;
  background-color:Grey;
  color: white;
  padding: 12px;
}

#slogan {
  height: 300px;
  width: 100%;
}
.content2{
  display: block;
  widthï¼š960px;
  text-align: center;
  padding-top: 85px;
  line-height: 40px;
}
.line1 {
  font-size: 25px;
}
.line2 {
  font-family: Arial;
  font-size: 20px;
}
.line2 a:hover {
  color: black;
  border-bottom: 1px solid;
}

#servicepage {
  height: 450px;
  width: 100%;
  background-color: SteelBlue;
  position: relative;
}
.header1 {
  display: block;
  text-align: center;
  color: white;
  padding-top: 65px;
  font-size: 25px;
  margin-bottom: 25px;
}
.list1 {
  width: 100%;
  margin-left:130px;
}
.list1 li {
  display: inline-block;
  padding: 0 40px;
}
.iconname {
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.p{
  position:relative;
  left:-35px;
}
.list1 a {
  font-size:12px;
  width: 120px;
  height: 40px;
  background-color:white;
  padding: 10px;
  color: black;
  position:relative;
  top:20px;
  left:10px;
}
.list1 a:hover{
  background-color:LightGrey;
}

#pic {
  width: 100%;
  height: 450px;
  background: url(pics/2.jpg) 0 0 no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
#pic p {
  width: 700px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 55px;
  line-height: 450px;
}

#displaypage {
  width: 100%;
  height: 900px;
}
#displaypage p {
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
}
.graphs {
  margin:0;
  padding-top: 10px;
  padding-left:145px;
}
#displaypage:after{
  content: '';
  display: block;
  clear: both;
}
.graphs1,.graphs3,.graphs2,.graphs4{
  float:left;
}
.graphs li{
  border: 15px solid white;
}
#displaypage a {
  display: block;
  width: 110px;
  height: 20px;
  margin-left: 45%;
  background-color: Grey;
  line-height:20px;
  padding:7px;
  color: white;
}
#displaypage a:hover{
  background-color:DimGrey;
}

#button {
  width: 100%;
  height: 250px;
  background-color: SteelBlue;
  margin-top: 45px;
}
#button p {
  color: white;
  padding-top: 80px;
  text-align:center;
  font-size: 20px;
}
.a1,.a2 {
  display: inline-block;
  text-align: center;
  height: 25px;
  width: 100px;
  padding: 10px;
}
.button1{
 position:relative;
 left:40%;
}
.a1 {
  background-color: white;
  color: black;
  margin-right: 20px;
}
.a2 {
  background-color: blue;
  color: white;
}
.a1:hover{
  background-color:LightBlue;
}
.a2:hover {
  background-color: #191970;
}

#lastpage {
  width: 100%;
  height: 400px;
  padding-top:50px;
}
.container {
  display: block;
  text-align: center;
}
.container a:hover {
  border-bottom: 1px solid;
  color: black;
}
.icon {
  margin-top: 30px;
  margin-bottom: 25px;
}
.icon li {
  display: inline-block;
  margin-right: 35px;
}