html,body,div,p,ul,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font:16px/1.5 "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
html,body {
	height: 100%;
	width: 100%;
}
h3 {
	font-size: 2.5em;
	margin-top: 20px;
}
h4 {
	font-size: 1.25em;
	margin: 10px 0;
}
p {
	font-style: italic;
	color: #777777;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.wrap-center {
	margin: 0 auto;
	width: 1140px;
	text-align: center;
}
.btn {
	display: block;
    width: 220px;
    margin: 20px auto;
    height: 70px;
    line-height: 70px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #fbd135;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
    .btn:hover{
	background-color: #fec503;
	cursor: pointer;
}
#header {
	width: 100%;
	height: 70px;                            
	line-height: 70px;
	background-color: #222222;
	position: fixed;
	top: 0;
	z-index: 2;
}

#header ul {
	float: right;
}
#header ul li {
	float: left;
}
#header ul li a {
	padding: 0 15px;
	color: #fff;
}
#header ul li a:hover,
#header ul li a:focus {
	color: #FED136;
}
#header .current {
	color: #FED136;
}
#header .logo {
	float: left;
	padding: 0 15px;
	color: #FED136;
	font-family: "Kaushan Script",cursive;
	font-size: 2em;
}
/*************************************/
.ct{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.ct li{
  list-style: none;
}
.ct .bullet{
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -60px;
  cursor: pointer;
}
.ct .bullet li{
  float: left;
  margin: 0 5px;
  width: 20px;
  height: 5px;
  border-radius: 2px;
  background-color: #999;
}
.ct .bullet li.active{
  background-color: #fff;
}
.window li{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
}
.window{
  position: absolute;
  height: 100%;
}
.window .box{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.window h1,
.window h3,
.window p{
  position: relative;
  top: -55%;
  margin-bottom: 40px;
  color: white;
}
 .window h1{
  color: white;
  font-size: 5em;
  margin-top: 0px;
}
.window p{
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 0;
}
/******************************************/
#services,
#portfolio,
#about,
#team,
#contact {
	padding: 100px 0;
}
#services .item li {
	float: left;
	width: 360px;
	margin-right: 20px;
	margin-top: 50px;
}
#services .item>li .fa-stack {
	color: #fed136
}
/******************************************/

.imgbox-block li {
	float: left;
	padding: 0 30px 50px 0;
	display: inline-block;
	width: 33.3%;
}
.imgbox-block img {
	width: 100%;
}

.imgbox-block p {
	color: #777777;
	font-style: italic;
}
.imgbox-block a:hover {
	position: relative;
}
.imgbox-block a:hover:after {
	content: "+";
	font-size: 6.25em;
	font-weight: bold;
	color: #fff;
	background-color: #fed136;
	display: block;
	width: 100%;
	height: 254px;
	line-height: 254px;
	position: absolute;
	top: -240px;
	opacity: 0.8;
}
.imgbox {
	position: relative;
}
.imgbox .item {
	position: absolute;
    padding-bottom: 10px;
    width: 280px;
    margin: 10px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    opacity: 1;
    transition: all .8s;
}
.imgbox>.hide {
	display: none;
}
.imgbox .item img {
	margin: 10px;
    width: 260px;
}

.imgbox a:hover {
	position: relative;
}
.imgbox a:hover:after {
	content: "+";
	font-size: 6.25em;
	font-weight: bold;
	color: #fff;
	background-color: #fed136;
	display: block;
	width: 100%;
	height: 254px;
	line-height: 254px;
	position: absolute;
	top: -240px;
	opacity: 0.8;
}

.timeline {
    margin-top: 60px;
}

.timeline li {
    display: block;
}

.timeline .fl, .timeline .fr {
    width: 50%;
}

.timeline img {
    width: 176px;
    height: 176px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #eeeeee;
}
.timeline .fl {
    float: left;
    text-align: right;
    padding-left: 5px;
}

.timeline .fl img {
    float: right;
    margin-right: -88px;
    margin-left: 30px;
}

.timeline .fr {
    float: right;
    text-align: left;
}

.timeline .fr img {
    float: left;
    margin-left: -88px;
    margin-right: 30px;
}

.timeline .border {
    width: 2px;
    height: 130px;
    background-color: #ccc;
    clear: both;
    margin: 0 auto;
}
.timeline .center {
    width: 176px;
    height: 176px;
    padding: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #eeeeee;
    background-color: #fbd135;
    color: #ffffff;
    margin:0 auto;
}

/******************************************/

.team-row li {
	display: inline-block;
} 
.team-row>li {
	margin:50px 80px;
}
.team-row img {
	width: 180px;
	border-radius: 100%;
	border: 8px solid #eee;
}
.team-icon>li .fa-stack {
	color: #000;
}
.team-icon>li:hover .fa-stack {
	color: #fed136;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.vendor-brand li {
	float: left;
	margin-left: 80px;
	padding: 60px 0;
}
/******************************************/
#contact {
	background-image: url(../images/map-image.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #222222;
	height: 100%;
	overflow: hidden;
}

#contact h3,
#contact p {
	color: #eee;
}

#contact .input-text {
	float: left;
}
#contact .input-text input {
	display: block;
    width: 500px;
    height: 30px;
    margin: 20px 0;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
	width: 500px;
    height: 220px;
    margin: 20px 0;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}
/******************************************/
#footer {
	width: 100%;
	height: 70px;
	line-height: 70px;
}

#footer .copyright {
	float: left;
}
.footer-icon,
.footer-icon li {
	display: inline;
}
.footer-icon li .fa-stack {
	color: #000;
}
.footer-icon li:hover .fa-stack {
	color: #fed136;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}
#footer .footer-link {
	padding:0 15px;
	color: #fed136;
	float: right;
}
#footer .footer-link:hover {
	color: #fec503;
	text-decoration: underline;
}
