p {
    margin: 30px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    -webkit-box-shadow: -1px -1px 5px #eeeeee;
    -moz-box-shadow:  -1px -1px 5px #eeeeee;
    box-shadow:  -1px -1px 5px #eeeeee;
}

img {
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}