/*设置dialog样式*/
.dialog-ct{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99998;
	background-color: #6D788D;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.dialog{
	font-family: 'Microsoft YaHei',tahoma, arial, \5b8b\4f53, sans-serif;
	font-size: 16px;
	position: fixed;
	padding-bottom: 15px;
	width: 350px;
	left: 50%;
	top: 30%;
	margin-left: -175px;
	z-index: 99999;
	border-radius: 5px;
	background-color: #eee;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.dialog a { text-decoration: none; color: #3998ED}

.dialog a:hover { text-decoration: underline; }

.dialog ul, ol { list-style: none; }

.dialog .btn{
	background-color: #333;
	padding: 6px 14px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 20px;
	color: #d0d0d0;
	-webkit-transition: background-color 0.25s ease-out 0s;
	-moz-transition: background-color 0.25s ease-out 0s;
	transition: background-color 0.25s ease-out 0s;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.dialog .btn:hover{background-color: #222; color: #fff;}

.dialog .dialog-header {
    padding: 8px 20px;
    color: #eee;
    background: #333;
}
.dialog .dialog-header .title {
    margin: 0;
    font-size: 14px;
}
.dialog .dialog-header i.btn-close{
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: font-size 0.15s ease-out 0s;
  -moz-transition: font-size 0.15s ease-out 0s;
  transition: font-size 0.15s ease-out 0s;
}
.dialog .dialog-header i.btn-close:hover{
	font-size: 20px;
	color: #fff;
}
.dialog .dialog-content {
	padding:20px;
	margin:15px;
	/*font-size: 16px;*/
	color:#666;
	text-align: center;
}
.dialog .dialog-footer{
  text-align: center;
}
.dialog .dialog-footer .btn{
  padding: 3px 10px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}
.dialog .dialog-footer .btn-confirm{
	background-color: #505050;
}
.dialog .dialog-footer .btn-confirm:hover{
	background-color: #222;
}
