body, div, p, h1, h2, h3, h4, ul, li, form, input, textarea, a, img {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body { height: 100%; }
a { text-decoration: none; }
li { list-style: none; }
img { border: none; }
input,textarea { outline: none; }

body {
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 16px;
}

.center-wrap {
    width: 1150px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.btn {
    display: block;
    width: 220px;
    margin: 20px auto;
    height: 70px;
    line-height: 70px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #fbd135;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #fac532;
}

.btn.go-top {
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    color: #666666;
    display: none;
    z-index: 999;
}

#header {
    position: fixed;
    z-index: 999; /* TODO: change to proper value */
    width: 100%;
    height: 70px;
}

#logo {
    float: left;
    /*cursor: pointer;*/
}

#logo a {
    font-family: "Kaushan Script",cursive;
    font-size: 28px;
    font-weight: normal;
    color: #fac532;
    line-height: 70px;
}

#header .nav {
    float: right;
}

#header .nav a {
    font-size: 14px;
    letter-spacing: .1em;
    color: #ffffff;
    text-transform: uppercase;
}

#header .nav li {
    float: left;
    margin: 10px 0;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .nav li.active {
    background-color: #fbd135;
}

#header .nav a:hover {
    color: #fbd135;
}

#banner {
    position: relative;
    /*background: url(../../hw15/agency/img/header-bg.jpg) center center no-repeat;*/
    /*background-size: cover;*/
    height: 100%;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

#banner ul {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner li {
    float: left;
    width: 100%;
    height: 100%;
    /*background: url(../../hw15/agency/img/header-bg.jpg) center center no-repeat;*/
    background-size: cover;
    list-style: none;
}

#banner .dot-nav {
    position: absolute;
    bottom: 20px;
    height: 10px;
    left: 50%;
}

#banner .dot-nav li {
    float: left;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    background-color: #666666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

#banner .dot-nav li.active {
    background-color: #ffffff;
}

#banner .carousel-arrow {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #000000;
    opacity: .5;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #eeeeee;
}

#banner .carousel-arrow:hover {
    opacity: .9;
}

#banner .arrow-prev {
    left: 30px;
}

#banner .arrow-next {
    right: 30px;
}

#banner h3 {
    font-family: "DroidSerif", serif;
    font-size: 40px;
    font-style: italic;
    padding-top: 300px;
}
#banner h2 {
    font-size: 75px;
    text-transform: uppercase;
}

.section {
    padding: 160px 0;
    text-align: center;
}

.section h3 {
    text-transform: uppercase;
    font-size: 40px;
}

h3 + p {
    margin-top: 20px;
    font-style: italic;
}

.section h4 {
    font-size: 18px;
}

.section li p {
    font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

#services .fa {
    font-size: 50px;
    background-color: #fbd135;
    color: #ffffff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#services li {
    margin: 80px 0;
    padding: 0 10px;
    float: left;
    width: 33.3%;
}

#services h4 {
    margin: 20px auto;
}

#portfolio, #team {
    background-color: #f7f7f7;
    padding: 160px 0;
}

#portfolio h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.timeline {
    margin-top: 60px;
}

.timeline li {
    display: block;
}

.timeline .fl, .timeline .fr {
    width: 50%;
}

.timeline img {
    width: 176px;
    height: 176px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 8px solid #eeeeee;
}

.timeline h4 {
    margin-bottom: 10px;
}

.timeline p {
    font-size: 14px;
    line-height: 1.75em;
}

.timeline .fl {
    float: left;
    text-align: right;
    padding-left: 50px;
}

.timeline .fl img {
    float: right;
    margin-right: -88px;
    margin-left: 30px;
}

.timeline .fr {
    float: right;
    text-align: left;
}

.timeline .fr img {
    float: left;
    margin-left: -88px;
    margin-right: 30px;
}

.timeline .border {
    width: 2px;
    height: 130px;
    background-color: #eeeeee;
    clear: both;
    margin: 0 auto;
}

.timeline .center {
    width: 176px;
    height: 176px;
    margin: 0 auto;
    padding: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 8px solid #eeeeee;
    background-color: #fbd135;
    color: #ffffff;
    text-transform: uppercase;
}

.timeline .center p {
    font-size: 18px;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.member {
    margin: 50px auto 30px;
}

.member > li {
    float: left;
    width: 33.3%;
    padding: 0 80px;
}

.member li img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 8px solid #ffffff;
}

.member h4 {
    margin: 20px 0 5px;
}

.member .social {
    margin: 20px 0 20px 15px;
}

.social li {
    width: 42px;
    height: 42px;
    line-height: 44px;
    background-color: #222222;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-left: 15px;
    transition: background-color .3s;
}

.social li:hover {
    background-color: #fbd135;
}

.social li a {
    color: #ffffff;
    font-size: 20px;
}

.member + p {
    width: 60%;
    margin: 0 auto;
}

.customer {
    padding: 60px 0;
}

.customer ul {
    margin-left: -110px;
}

.customer li {
    float: left;
    margin-left: 110px;
}

#contact {
    background: url(../../hw15/agency/img/map-image.png) center center no-repeat #000000;
}

#contact h3 {
    color: #ffffff;
}
#contact p {
    color: #777777;
}

.user-info {
    float: left;
}

.user-info input {
    display: block;
    width: 550px;
    height: 60px;
    margin: 25px 0;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

textarea {
    width: 555px;
    height: 235px;
    margin: 25px 0;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

textarea::-webkit-input-placeholder {
    content: "A";
}

#footer {
    padding: 30px 100px;
    line-height: 42px;
    font-size: 14px;
}

.copyright, #footer .social {
    float: left;
}

#footer .social {
    margin: 0 160px;
}

.terms {
    float: right;
}

.terms a {
    color: #fbd135;
    padding-right: 10px;
}

.terms a:hover {
    color: #fac532;
    text-decoration: underline;
}

.waterfall ul{
    position: relative;
    width: 100%;
}

.waterfall li {
    position: absolute;
    margin: 20px;
}

.waterfall .msg {
    display: none;
    color: #666666;
    opacity: .5;
    margin: 20px;
}
