body{
	margin: 0;
	padding: 0;
	font-family:  '微软雅黑', Helvetica, Arial, sans-serif;
}
#header{
	width: 100%;
	background-color: #ccc;
	min-height: 50px;
}
#footer{
	width: 100%;
	background-color: #ccc;
	min-height: 50px;
}
.content, .container-right{
	float: left;
}
#container:after {
	content: "";
	display: block;
	clear: both;
}
.container-right{
	width: 150px;
	margin-left: -150px;
	min-height: 200px;
	position: relative;
	background-color: yellow;
}
.content1{
	margin-right: 150px;
	background-color: green;
	min-height: 200px;
}
.content{
	width: 100%;
}