@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-17 10:16:03
 * @version $Id$
 */
body,header,main,footer,div,h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font: 16px/1.2 "Microsoft YaHei","宋体",Arial,sans-serif;
}

a{
	text-decoration: none;
	color: #777;
}
li{
	list-style-type: none;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
#topnav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 53px;
	z-index: 1;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #777777;
}
#topnav ul.navbar:after{
	content: "";
	display: block;
	clear: both;
}
#topnav ul.navbar>li{
	float: left;
}
#topnav ul.navbar>li>a.nav-log{
	font-size: 18px;
}
#topnav ul.navbar>li>a.nav-log:hover{
	color: #1F9ECD;
}
#topnav .navbar>li>a{
	display: inline-block;
	height: 53px;
	line-height: 53px;
	margin-right: 30px;
}
#topnav .navbar>li>a:hover{
	color: #333;
}
#topnav .navbar>li:nth-child(2){
	position: relative;
	margin-right: 20px;
}
#topnav .navbar>li:nth-child(2):hover>ul.nav-child{
	display: block;
}
#topnav .navbar>li>a>span{
	position: absolute;
	left: 70px;
	top: 22px;
}
#topnav ul.nav-child{
	position: absolute;
	display: none;
	top: 52px;
	width: 160px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 5px;

}
#topnav ul.nav-child li a{
	display: inline-block;
	padding: 5px 20px;
	width: 118px;
}
#topnav ul.nav-child a:hover{
	background-color: #f5f5f5;
	color: #000;
}
#topnav ul.nav-child span{
	margin-right: 5px;
}
#topnav ul.nav-child li:nth-child(3){
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
}
#topnav ul.nav-child li:last-child a{
	font-size: 14px;
	cursor:text; 
}
#topnav ul.nav-child li:last-child a:hover{
	background-color: #fff;
}

#header{
	background-color: #B84D45;
	position: relative;
	height: 300px;
	color: #fff;
}
#header .container{
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
}
#header .container h1{
	font-size: 60px;
	line-height: 60px;
	font-weight: normal;
	font-family: "宋体";
}
#header .container p{
	font-size: 24px;
	margin-top: 8px;
    font-family: "宋体";
}
#main{
	background-color: #fff;
}
#main .container{
	position: relative;
}
#main .main-title{
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.main-title a{
	color: #b84d45;
}
.main-title a:hover{
	color: #803630;
	border-bottom: 1px solid #803630;
}
.main-title span{
	color: #777777;
}
.main-title span:before{
	content: "/";
	padding: 0 8px;
	color: #dad1cf;
}
#main .row:after{
	content: "";
	display: block;
	clear: both;
}
#main .row-item{
	float: left;
	width: 316px;
	height: 377px;
	border: 1.5px solid #ddd;
	border-radius: 5px;
	margin-left: 25px;
	margin-bottom: 25px;
	text-align: center;
	color: #333;
	padding-top: 5px;
}
#main .first{
	margin-left: 0px;
}
#main .row-img img{
	width: 304px;
	margin: 0 auto;
}
#mian .row-item .descp{
	margin: 25px;
}
#main .descp h3{
	font-weight: bold;
	font-size: 24px;
	margin-top: 20px;
}
#main  .descp p{
	margin-top: 20px;
	margin-bottom: 18px;
}
#main .descp .btn{
	width: 76px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #333;
	display: block;
	margin: 10px auto;
	border: 1px solid #e5e4e4;
	border-radius: 5px;
	background-color: #fff;
}
#main .btn:hover{
	background-color: #e5e4e4;
}
#main img:hover{
	opacity: 0.8;
}
#footer .contact{
	background-color: #B84D45;
	color: #fff;
	text-align: center;
}
#footer .contact .container{
	position: relative;
	top: 48px;
	left: 0;
	right: 0;
	height: 172px;
}
#footer .container h2{
	font-size: 32px;
	line-height: 32px;
	font-weight: normal;
}
#footer .container p{
	font-size: 18px;
	margin-top: 15px;
}
#footer .message{
	text-align: center;
	color: #333;
	margin-top: 90px;
	margin-bottom: 55px;
}
#footer .message p{
	font-size: 14px;
}
#footer .message a{
	text-decoration: none;
	color:#c74d45;
}
#footer .message a:hover{
	color: #803630;
	border-bottom: 1px solid #803630;
}
#footer .message .line{
	margin-bottom: 30px;
	border: 1px solid #E5E4E4;
	border-top: 0;
}