@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-08 22:34:08
 * @version $Id$
 */
*{
		padding:0;
		margin:0;
	}
	body{
		font-family: "Microsoft Yahei",Arial;
		font-size: 16px;
	}
	.list-style{
		border:dashed #555 1px;
		overflow: hidden;
		padding:10px 0;
		border-radius: 5px;
		text-align: center;
		width:1000px;
		margin:20px auto;
	}
	.list-style h3{
		color:#555;
		border-bottom: dashed 1px #555;
		padding-bottom: 10px;
	}
	.list-style>div{
		text-align: center;
		display: inline-block;
		margin:10px;
		padding: 10px;
		border:dotted 1px #999;
		border-right: solid 3px #666;
		border-bottom: solid 3px #666;
		border-radius:10px;
	}
	.list-style div h3{
		color:#333;
		border-bottom: dashed 1px #666;
		margin-bottom: 5px;
	}
	.list-style ol{
		list-style-position: inside;
	}
	.decimal ol{
		list-style-type: decimal;
	}
	.disc ol{
		list-style-type: disc;
	}
	.circle ol{
		list-style-type: circle;
	}
	.square ol{
		list-style-type: square; 
	}
	.decimal-leading-zero ol{
		list-style-type: decimal-leading-zero;
	}
	.lower-roman ol{
		list-style-type: lower-roman;
	}
	.upper-roman ol{
		list-style-type: upper-roman;
	}
	.lower-alpha ol{
		list-style-type: lower-alpha;
	}
	.upper-alpha ol{
		list-style-type: upper-alpha;
	}
	.img ol{
		list-style-image: url("../../../img/jirengu/task07/1.png");
	}
	
	.gou-zi ol{
		list-style: none;

	}
	.gou-zi ol div.left{
		width:0;
		height:0;
		border:#555 solid 10px;
		border-top-color:#fff ;
		border-right-color:#fff;
		border-bottom-color: #fff; 
		display: inline-block;
		position: relative;
		top:5px;
		left:0px;
	}
	.gou-zi ol div.right{
		width:0;
		height:0;
		border:#555 solid 10px;
		border-top-color:#fff ;
		border-left-color:#fff;
		border-bottom-color: #fff; 
		display: inline-block;
		position: relative;
		top:5px;
		right:2px;
	}
	.user-style dt{
		font-size: 18px;
		font-weight: bold;
		color:#333;
		border-bottom: dashed 1px #555;
		padding-bottom: 10px;
	}
	.user-style dd:first-of-type{
		margin-top: 10px;
		color:red;
	}
	.user-style dd:last-child{
		color:rgba(123,345,23,0.5);
	}
	.user-style dd:nth-child(3){
		color:purple;
	}