@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1465287194'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1465287194#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1465287194') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1465287194') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1465287194#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kuaijin:before { content: "\e600"; }
.icon-fenxiang:before { content: "\e601"; }
.icon-chaping:before { content: "\e602"; }
.icon-yinliang:before { content: "\e603"; }
.icon-command:before { content: "\e604"; }
.icon-yonghu:before { content: "\e605"; }
.icon-kaiguanguan:before { content: "\e60b"; }
.icon-suoxiao:before { content: "\e606"; }
.icon-info:before { content: "\e607"; }
.icon-iconfontplay2:before { content: "\e608"; }
.icon-menu:before { content: "\e609"; }
.icon-heart:before { content: "\e60a"; }
.icon-iconfontbiaozhunmoban01:before { content: "\e60d"; }
.icon-kaiguanguan-copy:before { content: "\e60c"; }
